@font-face {
    font-family: 'Sf Pro Display Regular';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}
@font-face {
    font-family: 'Sf Pro Display Medium';
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}
@font-face {
    font-family: 'Sf Pro Display Bold';
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

/* Откл выделения */
* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

/* Откл клики */
#preloader,
.top-background-img,
.user-name,
.user-image-container,
.balance-container,
.miniapp-description,
.league-container img {
    pointer-events: none;
}

:root {
    --dynamic-vw: 1vw;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;
}
body {
    background-color: #181F2A;
}


.content {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: calc(var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top, calc(100 / 1284 * 150 * var(--dynamic-vw))));
}


.top-background-img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}


.user-name {
    color: #8794a1;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * var(--dynamic-vw));
    margin: 0 0 calc(100 / 1284 * 50 * var(--dynamic-vw)) 0;
}
.user-image-container {
    position: relative;
    width: calc(100 / 1284 * 330 * var(--dynamic-vw));
    height: calc(100 / 1284 * 330 * var(--dynamic-vw));
    margin: 0 auto;
}
.user-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: calc(5 * var(--dynamic-vw));
    filter: drop-shadow(0 0 2.5vw rgba(255, 255, 255, 0.25));
    -webkit-filter: drop-shadow(0 0 calc(2.5 * var(--dynamic-vw)) rgba(255, 255, 255, 0.25));
}


.balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: calc(100 / 1284 * 50 * var(--dynamic-vw));
}
.dogcoin {
    width: calc(100 / 1284 * 100 * var(--dynamic-vw));
    margin-right: var(--dynamic-vw);
}
.balance {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 100 * var(--dynamic-vw));
    margin: 0;
}


.miniapp-description {
    color: #8794a1;
    font-family: 'Sf Pro Display Regular', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * var(--dynamic-vw));
    margin: calc(100 / 1284 * 25 * var(--dynamic-vw)) 0 0 0;
}


.league-container {
    display: flex;
    width: calc(100 / 1284 * 1084 * var(--dynamic-vw));
    height: calc(100 / 1284 * 182 * var(--dynamic-vw));
    margin: 0 auto;
    border-radius: calc(3 * var(--dynamic-vw));
    margin-top: calc(100 / 1284 * 50 * var(--dynamic-vw));
    background: linear-gradient(90deg, #67C8E4, #EB4DFC);
    filter: drop-shadow(0 0 calc(2.5 * var(--dynamic-vw)) rgba(255, 255, 255, 0.25));
    -webkit-filter: drop-shadow(0 0 calc(2.5 * var(--dynamic-vw)) rgba(255, 255, 255, 0.25));
    cursor: pointer;
}
.league-container .left {
    width: calc(100 / 1284 * 250 * var(--dynamic-vw));
    display: flex;
    justify-content: center;
    align-items: center;
}
.league-container .left img {
    height: calc(100 / 1284 * 132 * var(--dynamic-vw));
}
.league-container .center {
    width: calc(100 / 1284 * 709 * var(--dynamic-vw));
}
.progress-bar {
    position: relative;
    background-color: black;
    width: 100%;
    height: calc(100 / 1284 * 25 * var(--dynamic-vw));
    border-radius: calc(100 / 1284 * 15 * var(--dynamic-vw));
    margin-top: calc(100 / 1284 * 25 * var(--dynamic-vw));
}
.progress {
    width: 76%;
    height: 100%;
    background-color: rgb(250, 225, 150);
    border-radius: calc(100 / 1284 * 15 * var(--dynamic-vw));
}
.league-marks {
    display: flex;
    justify-content: space-between;
    color: rgb(250, 225, 150);
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * var(--dynamic-vw));
    margin-top: calc(100 / 1284 * 5 * var(--dynamic-vw));
}
.user-league-info {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * var(--dynamic-vw));
}
.league-container .right {
    width: calc(100 / 1284 * 125 * var(--dynamic-vw));
    display: flex;
    justify-content: center;
    align-items: center;
}
.league-container .right img {
    height: calc(100 / 1284 * 35 * var(--dynamic-vw));
}
.league-marks p,
.user-league-info p {
    margin: 0;
}







.games-or-achievements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: calc(100 / 1284 * 100 * var(--dynamic-vw));
}

.games-or-achievements .games,
.games-or-achievements .achievements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 25%;
    align-items: center;
    cursor: pointer;
}

.games-or-achievements .games {
    transform: translateX(100%);
}
  
.games-or-achievements .achievements {
    transform: translateX(-100%);
}
  
.games-or-achievements p {
    font-family: 'Sf Pro Display Regular', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * var(--dynamic-vw));
    color: white;
    margin: 0;
    transition: color 0.1s;
}
  
.games-or-achievements .rectangle {
    width: calc(100 / 1284 * 150 * var(--dynamic-vw));
    height: calc(100 / 1284 * 15 * var(--dynamic-vw));
    background-color: #258ADA;
    border-top-left-radius: var(--dynamic-vw);
    border-top-right-radius: var(--dynamic-vw);
    margin-top: calc(100 / 1284 * 40 * var(--dynamic-vw));
    transition: background-color 0.1s;
}






.content-container {
    display: none;
}
.content-container:not(.hidden) {
    display: block;
}

#games.active,
#achievements.active {
    opacity: 1;
}
  
#games:not(.active),
#achievements:not(.active) {
    opacity: 0.5;
}

  












#games-container,
#achievements-container {
    display: flex;
    flex-wrap: wrap;
    gap: calc(100 / 1284 * 25 * var(--dynamic-vw));
    padding:
        calc(100 / 1284 * 50 * var(--dynamic-vw))
        calc(100 / 1284 * 50 * var(--dynamic-vw))
        calc(100 / 1284 * 200 * var(--dynamic-vw))
        calc(100 / 1284 * 50 * var(--dynamic-vw));
    justify-content: flex-start;
    background-color: #202A38;
    border-top-left-radius: calc(100 / 1284 * 50 * var(--dynamic-vw));
    border-top-right-radius: calc(100 / 1284 * 50 * var(--dynamic-vw));
    margin-bottom: calc(100 / 1284 * 200 * var(--dynamic-vw));
}





#games-container {
    gap: calc(100 / 1284 * 50 * var(--dynamic-vw));
}






#games-container .game {
    flex: 1 1 calc(50%);
    max-width: calc(50% - calc(100 / 1284 * 25 * var(--dynamic-vw)));
    background-color: #181F2A;
    border-radius: calc(4 * var(--dynamic-vw));
    box-sizing: border-box;
    padding: calc(100 / 1284 * 50 * var(--dynamic-vw));
    cursor: pointer;
}
#games-container .game img {
    width: 100%;
    border-radius: calc(2 * var(--dynamic-vw));
}
.game .name {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * var(--dynamic-vw));
    /* text-align: left; */
    margin: calc(100 / 1284 * 25 * var(--dynamic-vw)) 0 0 0;
    /* margin-top: calc(100 / 1284 * 75 * 1vw); */
}
.game .description {
    color: #8894A2;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * var(--dynamic-vw));
    /* text-align: left; */
    margin: calc(100 / 1284 * 25 * var(--dynamic-vw)) 0 0 0;
}




#achievements-container .section {
    color: white;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * var(--dynamic-vw));
    text-align: left;
    margin: calc(100 / 1284 * 50 * var(--dynamic-vw)) 0 0 calc(100 / 1284 * 50 * var(--dynamic-vw));
}
#achievements-container .achievement {
    display: flex;
    background-color: #181F2A;
    border-radius: calc(4 * var(--dynamic-vw));
}


#achievements-container .completed {
    opacity: 0.6;
}
#achievements-container .completed .reward {
    display: none;
}




#achievements-container .achievement .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: calc(100 / 1284 * 976.5 * var(--dynamic-vw));
    margin:
        calc(100 / 1284 * 57.5 * var(--dynamic-vw))
        0
        calc(100 / 1284 * 57.5 * var(--dynamic-vw))
        calc(100 / 1284 * 57.5 * var(--dynamic-vw));
}

#achievements-container .achievement .description {
    color: #8894A2;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * var(--dynamic-vw));
    margin: 0;
}

#achievements-container .achievement .reward {
    display: flex;
    align-items: center;
    margin-top: calc(100 / 1284 * 15 * var(--dynamic-vw));
}

#achievements-container .achievement .reward img {
    width: calc(100 / 1284 * 40 * var(--dynamic-vw));
    height: auto;
    margin-right: var(--dynamic-vw);
    object-fit: contain;
}

#achievements-container .achievement .reward p {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * var(--dynamic-vw));
    margin: 0;
}


#achievements-container .achievement .status {
    width: calc(100 / 1284 * 150 * var(--dynamic-vw));
    display: flex;
    justify-content: center;
    align-items: center;
}

#achievements-container .achievement .status img {
    width: calc(100 / 1284 * 50 * var(--dynamic-vw));
}





.bottom-menu {
    display: flex;
    position: fixed;

    height: calc(100 / 1284 * 162.5 * var(--dynamic-vw));
    height: calc(calc(100 / 1284 * 162.5 * var(--dynamic-vw)) + var(--tg-safe-area-inset-bottom, 0px) + var(--tg-content-safe-area-inset-bottom, calc(100 / 1284 * 37.5 * var(--dynamic-vw))));
    /* padding-bottom: calc(var(--tg-safe-area-inset-bottom, calc(100 / 1284 * 37.5 * var(--dynamic-vw)))); */

    width: calc(97 * var(--dynamic-vw));
    padding-left: calc(1.5 * var(--dynamic-vw));
    padding-right: calc(1.5 * var(--dynamic-vw));
    background-color: #2B3648;
    border-top-left-radius: calc(5 * var(--dynamic-vw));
    border-top-right-radius: calc(5 * var(--dynamic-vw));
    bottom: 0;
    box-shadow: 0 0 calc(10 * var(--dynamic-vw)) calc(2.5 * var(--dynamic-vw)) rgba(0, 0, 0, 1);
    clip-path: inset(calc(-15 * var(--dynamic-vw)) 0 0 0); /* Обрезка тени, кроме top */
    z-index: 1000;
}
.bottom-menu .menu {
    height: 100%;
    width: 100%;
    text-decoration: none;
    opacity: 0.5;
    cursor: pointer;
}
.bottom-menu .menu img {
    height: calc(100 / 1284 * 75 * var(--dynamic-vw));
    margin-top: calc(100 / 1284 * 40 * var(--dynamic-vw));
}
.bottom-menu .menu p {
    color: white;
    font-family: 'Sf Pro Display Regular', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * var(--dynamic-vw));
    margin: 0;
}
.bottom-menu .selected .rectangle {
    width: calc(100 / 1284 * 150 * var(--dynamic-vw));
    height: calc(100 / 1284 * 15 * var(--dynamic-vw));
    background-color: white;
    border-bottom-left-radius: var(--dynamic-vw);
    border-bottom-right-radius: var(--dynamic-vw);
    margin: 0 auto;
}
.bottom-menu .selected img {
    margin-top: calc(100 / 1284 * 25 * var(--dynamic-vw));
}
.bottom-menu .selected {
    opacity: 1;
}












.moving-image {
    position: absolute;
    width: calc(15 * var(--dynamic-vw));
    height: calc(15 * var(--dynamic-vw));
    left: 50%;
    top: 50%;
    animation: move-to-center 5s infinite, fade-in 2.5s ease-in, rot 5s infinite;
    opacity: 0;
    z-index: -1;
    transform: translateZ(0);
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes move-to-center {
    from {
        transform: translate(var(--start-x), var(--start-y)) scale(1) rotate(0);
    }
    to {
        transform: translate(-50%, 50%) scale(0) rotate(var(--rotate-end));
    }
}
@keyframes rot {
    from {
        rotate: 0deg
    }
    to {
        rotate: 90deg
    }
}






#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#preloader img {
    width: calc(50 * var(--dynamic-vw));
}

.preloader-progress-bar {
    width: calc(50 * 0.8733 * var(--dynamic-vw));
    height: calc(1.5 * var(--dynamic-vw));
    background-color: #222;
    overflow: hidden;
    border-radius: var(--dynamic-vw);
}
  
#progress {
    width: 0;
    height: 100%;
    background-color: #444;
    transition: width 1s linear;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}




/* Появление всех элементов при загрузке страницы */
.content > * {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
.content > *.visible {
    transform: scale(1);
    opacity: 1;
}














/* БАННЕР ПОСЛЕ НАЖАТИЯ НА АЧИВКУ */
.top-achievement-banner {
    position: fixed;
    display: flex;
    width: calc(100 / 1284 * 1184 * var(--dynamic-vw));
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border-radius: calc(4 * var(--dynamic-vw));
    text-align: center;
    z-index: 1000;
    transition: top 0.5s ease-in-out, opacity 1s ease-in-out;
    cursor: pointer;
    opacity: 1;
}
#top-achievement-banner.show {
    top: calc(100 / 1284 * 50 * var(--dynamic-vw));
    opacity: 1;
}
.top-achievement-banner .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: calc(100 / 1284 * 976.5 * var(--dynamic-vw));
    margin:
    calc(100 / 1284 * 57.5 * var(--dynamic-vw))
    calc(100 / 1284 * 57.5 * var(--dynamic-vw))
    calc(100 / 1284 * 57.5 * var(--dynamic-vw))
    0;
}
.top-achievement-banner .description {
    color: #8894A2;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * var(--dynamic-vw));
    margin: 0;
}
.top-achievement-banner .reward {
    display: flex;
    align-items: center;
    margin-top: calc(100 / 1284 * 15 * var(--dynamic-vw));
}
.top-achievement-banner .reward img {
    width: calc(100 / 1284 * 40 * var(--dynamic-vw));
    height: auto;
    margin-right: var(--dynamic-vw);
    object-fit: contain;
}
.top-achievement-banner .reward p {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * var(--dynamic-vw));
    margin: 0;
}
.top-achievement-banner .status {
    width: calc(100 / 1284 * 150 * var(--dynamic-vw));
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-achievement-banner .status img {
    width: calc(100 / 1284 * 50 * var(--dynamic-vw));
}





/* При ширине экрана от 500px до 1500px ширина боди будет 500px */
/* При ширине экрана от 1500px ширина боди будет 1 / 3 от ширины экрана */
@media (min-width: 500px) {
    :root {
        --dynamic-vw: calc(5px);
    }
    body {
        width: 500px;
    }
}
@media (min-width: 769px) {
    :root {
        --dynamic-vw: calc(100vw / 200);
    }
    body {
        width: calc(100vw / 2);
    }
}

@media (min-width: 1025px) {
    :root {
        --dynamic-vw: calc(100vw / 300);
    }
    body {
        width: calc(100vw / 3);
    }
}




html {
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}


















