@font-face {
    font-family: 'Sf Pro Display Regular';
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}
@font-face {
    font-family: 'Sf Pro Display Medium';
    src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}
@font-face {
    font-family: 'Sf Pro Display Bold';
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

/* Откл выделения */
* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

/* Откл клики */
#preloader,
.top-backgroung-img,
.user-name,
.user-image-container,
.balance-container,
.miniapp-description,
.league-container img {
    pointer-events: none;
}


html, body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;
}
body {
    background-color: #181F2A;
}


.content {
    width: 100%;
    text-align: center;
    padding-top: calc(100 / 1284 * 300 * 1vw);
}


.top-backgroung-img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -2;
}


.user-name {
    color: #8794a1;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    margin: 0 0 calc(100 / 1284 * 50 * 1vw) 0;
}
.user-image-container {
    position: relative;
    width: calc(100 / 1284 * 330 * 1vw);
    height: calc(100 / 1284 * 330 * 1vw);
    margin: 0 auto;
}
.user-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 5vw;
    filter: drop-shadow(0 0 2.5vw rgba(255, 255, 255, 0.25));
    -webkit-filter: drop-shadow(0 0 2.5vw rgba(255, 255, 255, 0.25));
}


.balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: calc(100 / 1284 * 50 * 1vw);
}
.dogcoin {
    width: calc(100 / 1284 * 100 * 1vw);
    margin-right: 1vw;
}
.balance {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 100 * 1vw);
    margin: 0;
}


.miniapp-description {
    color: #8794a1;
    font-family: 'Sf Pro Display Regular', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    margin: calc(100 / 1284 * 25 * 1vw) 0 0 0;
}


.league-container {
    display: flex;
    width: calc(100 / 1284 * 1084 * 1vw);
    height: calc(100 / 1284 * 182 * 1vw);
    margin: 0 auto;
    border-radius: 3vw;
    margin-top: calc(100 / 1284 * 50 * 1vw);
    background: linear-gradient(90deg, #67C8E4, #EB4DFC);
    filter: drop-shadow(0 0 2.5vw rgba(255, 255, 255, 0.25));
    -webkit-filter: drop-shadow(0 0 2.5vw rgba(255, 255, 255, 0.25));
    cursor: pointer;
}
.league-container .left {
    width: calc(100 / 1284 * 250 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}
.league-container .left img {
    height: calc(100 / 1284 * 132 * 1vw);
}
.league-container .center {
    width: calc(100 / 1284 * 709 * 1vw);
}
.progress-bar {
    position: relative;
    background-color: black;
    width: 100%;
    height: calc(100 / 1284 * 25 * 1vw);
    border-radius: calc(100 / 1284 * 15 * 1vw);
    margin-top: calc(100 / 1284 * 25 * 1vw);
}
.progress {
    width: 76%;
    height: 100%;
    background-color: rgb(250, 225, 150);
    border-radius: calc(100 / 1284 * 15 * 1vw);
}
.league-marks {
    display: flex;
    justify-content: space-between;
    color: rgb(250, 225, 150);
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * 1vw);
    margin-top: calc(100 / 1284 * 5 * 1vw);
}
.user-league-info {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
}
.league-container .right {
    width: calc(100 / 1284 * 125 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}
.league-container .right img {
    height: calc(100 / 1284 * 35 * 1vw);
}
.league-marks p,
.user-league-info p {
    margin: 0;
}







.games-or-achievements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: calc(100 / 1284 * 100 * 1vw);
}

.games-or-achievements .games,
.games-or-achievements .achievements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 25%;
    align-items: center;
}

.games-or-achievements .games {
    transform: translateX(100%);
}
  
.games-or-achievements .achievements {
    transform: translateX(-100%);
}
  
.games-or-achievements p {
    font-family: 'Sf Pro Display Regular', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    color: white;
    margin: 0;
    transition: color 0.1s;
}
  
.games-or-achievements .rectangle {
    width: calc(100 / 1284 * 150 * 1vw);
    height: calc(100 / 1284 * 15 * 1vw);
    background-color: #258ADA;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    margin-top: calc(100 / 1284 * 40 * 1vw);
    transition: background-color 0.1s;
}


.content-container {
    display: none;
}
.content-container:not(.hidden) {
    display: block;
}

#games.active,
#achievements.active {
    opacity: 1;
}
  
#games:not(.active),
#achievements:not(.active) {
    opacity: 0.5;
}

  












#games-container,
#achievements-container {
    display: flex;
    flex-wrap: wrap;
    gap: calc(100 / 1284 * 25 * 1vw);
    padding:
        calc(100 / 1284 * 50 * 1vw)
        calc(100 / 1284 * 50 * 1vw)
        calc(100 / 1284 * 200 * 1vw)
        calc(100 / 1284 * 50 * 1vw);
    justify-content: flex-start;
    background-color: #202A39;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    margin-bottom: calc(100 / 1284 * 200 * 1vw);
}





#games-container {
    gap: calc(100 / 1284 * 50 * 1vw);
}






#games-container .game {
    flex: 1 1 calc(50%);
    max-width: calc(50% - calc(100 / 1284 * 25 * 1vw));
    background-color: #181F2A;
    border-radius: 4vw;
    box-sizing: border-box;
    /* aspect-ratio: 1 / 1; */
    padding: 5vw;
}
#games-container .game img {
    width: 100%;
    border-radius: 2vw;
}
.game .name {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    /* text-align: left; */
    margin: calc(100 / 1284 * 50 * 1vw) 0 0 0;
    /* margin-top: calc(100 / 1284 * 75 * 1vw); */
}
.game .description {
    color: #8894A2;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * 1vw);
    text-align: left;
    margin: calc(100 / 1284 * 25 * 1vw) 0 0 0;
}




#achievements-container .section {
    color: white;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    text-align: left;
    margin: calc(100 / 1284 * 25 * 1vw) 0 0 calc(100 / 1284 * 50 * 1vw);
}
#achievements-container .achievement {
    display: flex;
    background-color: #181F2A;
    border-radius: 4vw;
}
#achievements-container .completed {
    opacity: 0.5;
}



.achievement .left {
    width: calc(100 / 1284 * 919 * 1vw);
    display: block;
    justify-content: center;
    align-items: center;
    margin: calc(100 / 1284 * 57.5 * 1vw);
    /* margin-top: calc(100 / 1284 * 50 * 1vw); */
}

.achievement .name {
    color: #8894A2;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    text-align: left;
    /* margin-top: calc(100 / 1284 * 75 * 1vw); */
}
.achievement .description {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * 1vw);
    text-align: left;
    margin-top: calc(100 / 1284 * 25 * 1vw);
}

.achievement .right {
    width: calc(100 / 1284 * 150 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievement .right img {
    height: calc(100 / 1284 * 35 * 1vw);
}








.bottom-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: calc(100 / 1284 * 250 * 1vw);
    background-color: #2B3648;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    bottom: 0;
    box-shadow: 0 0 10vw 2.5vw rgba(0, 0, 0, 1);
    z-index: 1000;
}

.bottom-menu .menu {
    height: 100%;
    width: calc(100 / 5 * 1vw);
    text-decoration: none;
    color: white;
    font-family: 'Sf Pro Display Regular', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * 1vw);
    opacity: 0.5;
}

.bottom-menu .menu img {
    height: calc(100 / 1284 * 75 * 1vw);
    margin-top: calc(100 / 1284 * 50 * 1vw);
}

.bottom-menu .menu p {
    margin: 0;
}

/* .selected {
    position: absolute;
    height: calc(100 / 1284 * 10 * 1vw);
    width: 25%;
    background-color: white;
} */


.bottom-menu .selected div {
    height: calc(100 / 1284 * 15 * 1vw);
    width: 75%;
    background-color: white;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    margin: 0 auto;
}

.bottom-menu .selected img {
    margin-top: calc(100 / 1284 * 35 * 1vw);
}
.bottom-menu .selected {
    opacity: 1;
}












.moving-image {
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 50%;
    top: 50%;
    animation: move-to-center 5s infinite, fade-in 2.5s ease-in, rot 5s infinite;
    opacity: 0;
    z-index: -1;
    transform: translateZ(0);
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes move-to-center {
    from {
        transform: translate(var(--start-x), var(--start-y)) scale(1) rotate(0);
    }
    to {
        transform: translate(-50%, 50%) scale(0) rotate(var(--rotate-end));
    }
}
@keyframes rot {
    from {
        rotate: 0deg
    }
    to {
        rotate: 90deg
    }
}






#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column; /* Устанавливаем элементы в столбец */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#preloader img {
    width: 50vw;
}

.preloader-progress-bar {
    width: calc(50 * 0.8733 * 1vw);
    height: 1.5vw;
    background-color: #222;
    overflow: hidden;
    border-radius: 1vw;
}
  
#progress {
    width: 0;
    height: 100%;
    background-color: #444;
    transition: width 1s linear;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}




/* Появление всех элементов при загрузке страницы */
.content > * {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
.content > *.visible {
    transform: scale(1);
    opacity: 1;
}
.visible-on-click {
    opacity: 1;
}





/* Уменьшение элемента при клике для перехода */
.zoom-out {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}


