@font-face {
    font-family: 'Sf Pro Display Regular';
    src: url('fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}
@font-face {
    font-family: 'Sf Pro Display Medium';
    src: url('fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}
@font-face {
    font-family: 'Sf Pro Display Bold';
    src: url('fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}




* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    -webkit-tap-highlight-color: transparent;
}



body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-color: #181F2A;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;
}

.content {
    width: 100%;
    text-align: center;
    padding-top: calc(100 / 1284 * 300 * 1vw);
}

.user-name {
    color: #8794a1;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    margin-bottom: calc(100 / 1284 * 50 * 1vw);
}

.user-image-container {
    position: relative;
    width: calc(100 / 1284 * 330 * 1vw);
    height: calc(100 / 1284 * 330 * 1vw);
    margin: 0 auto;
}

.user-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    filter: drop-shadow(0 0 2.5vw rgba(255, 255, 255, 0.25));
    -webkit-filter: drop-shadow(0 0 2.5vw rgba(255, 255, 255, 0.25));
}


.balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: calc(100 / 1284 * 50 * 1vw);

}
.dogcoin {
    width: calc(100 / 1284 * 100 * 1vw);
    margin-right: 1vw;
}

.balance {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 100 * 1vw);
    margin: 0;
}


.miniapp-description {
    color: #8794a1;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    margin-top: calc(100 / 1284 * 25 * 1vw);
}





.level-container {
    display: flex;
    width: calc(100 / 1284 * 1084 * 1vw);
    height: calc(100 / 1284 * 250 * 1vw);
    margin: 0 auto;
    border-radius: 5vw;
    margin-top: calc(100 / 1284 * 50 * 1vw);
    background: linear-gradient(90deg, #67C8E4, #EB4DFC);
}

.level-container .left {
    width: calc(100 / 1284 * 378 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-container .left img {
    height: 80%;
}

.level-container .center {
    width: calc(100 / 1284 * 606 * 1vw);
}

.progress-bar {
    position: relative;
    background-color: black;
    width: 100%;
    height: calc(100 / 1284 * 15 * 1vw);
    border-radius: calc(100 / 1284 * 15 * 1vw);
    margin-top: calc(100 / 1284 * 25 * 1vw);
}

.progress {
    width: 76%;
    height: 100%;
    background-color: rgb(250, 225, 150);
    border-radius: calc(100 / 1284 * 15 * 1vw);
}


.level-marks {
    display: flex;
    justify-content: space-between;
    color: rgb(250, 225, 150);
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 25 * 1vw);
    margin-top: calc(100 / 1284 * 5 * 1vw);
}

.level-num {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    text-align: left;
}

.level-name {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 75 * 1vw);
    text-align: left;
}

.level-container .right {
    width: calc(100 / 1284 * 100 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}
.level-container .right img {
    height: calc(100 / 1284 * 35 * 1vw);
}






.games-container {
    display: flex;
    flex-direction: column;
    gap: calc(100 / 1284 * 25 * 1vw);
    width: 100%;
    /* height: auto; */
    background-color: #202A39;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    margin-top: calc(100 / 1284 * 160 * 1vw);
    padding-top: calc(100 / 1284 * 50 * 1vw);
    padding-bottom: calc(100 / 1284 * 500 * 1vw);
}




.game {
    display: flex;
    height: calc(100 / 1284 * 336 * 1vw);
    background-color: #181F2A;
    border-radius: 4vw;
    margin: 0 auto;
}

.game .left {
    width: calc(100 / 1284 * 335 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game .left img {
    width: calc(100 / 1284 * 235 * 1vw);
}

.game .center {
    width: calc(100 / 1284 * 699 * 1vw);
    display: block;
    justify-content: center;
    align-items: center;
}

.game .name {
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 50 * 1vw);
    text-align: left;
    margin-top: calc(100 / 1284 * 75 * 1vw);
}
.game .description {
    color: #8894A2;
    font-family: 'Sf Pro Display Medium', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * 1vw);
    text-align: left;
    margin-top: calc(100 / 1284 * 25 * 1vw);
}

.game .right {
    width: calc(100 / 1284 * 150 * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game .right img {
    height: calc(100 / 1284 * 35 * 1vw);
}








.bottom-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: calc(100 / 1284 * 300 * 1vw);
    background-color: #2B3648;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    bottom: 0;
    box-shadow: 0 0 10vw 2.5vw rgba(0, 0, 0, 1);
    z-index: 1000;
}

.bottom-menu .menu {
    height: 100%;
    width: calc(100 / 3 * 1vw);
    text-decoration: none;
    color: white;
    font-family: 'Sf Pro Display Bold', Arial, sans-serif;
    font-size: calc(100 / 1284 * 40 * 1vw);
}

.bottom-menu .menu img {
    height: calc(100 / 1284 * 100 * 1vw);
    margin-top: calc(100 / 1284 * 50 * 1vw);
}

.bottom-menu .menu p {
    margin: 0;
}

/* .selected {
    position: absolute;
    height: calc(100 / 1284 * 10 * 1vw);
    width: 25%;
    background-color: white;
} */


.bottom-menu .selected div {
    height: calc(100 / 1284 * 15 * 1vw);
    width: 75%;
    background-color: white;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    margin: 0 auto;
}

.bottom-menu .selected img {
    margin-top: calc(100 / 1284 * 35 * 1vw);
    opacity: 1;
}












.moving-image {
    position: absolute;
    width: 5vw;
    height: 5vw;
    animation: move-to-center 8s infinite, fade-in 2.5s ease-in, rot 8s infinite;
    opacity: 0;
    z-index: -1;
    transform: translateZ(0)
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes move-to-center {
    from {
        transform: translate(var(--start-x), var(--start-y)) scale(1);
    }
    to {
        transform: translate(0, 0) scale(0);
    }
}

@keyframes rot {
    from {
        rotate: 0deg
    }
    to {
        rotate: 180deg
    }
}


